@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 350px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.active {
    background-color: #141821;
}

#logo.active,
section.active #content,
section.active #contactzone {
    transform: scale(0);
}

#toggle.active {
    background: url("/images/menu/cross.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

#image-container.active::before {
    background: #21283a;
    box-shadow: 0 0 0 5000px #141821;
    animation: heartbeatBlack 3s infinite alternate;
    transition: 1s;
}

@keyframes heartbeatBlack {
    0% {
        transform: scale(0.5) translateY(-30%) translateX(-80%);
    }
    100% {
        transform: scale(1) translateY(-70%) translateX(-50%);
    }
}

#menu.active {
    opacity: 1;
    z-index: 5;
    transition-delay: 0.5s;
}

/* Tooltips */

.tooltip {
    @apply relative cursor-pointer;
}
.tooltip::before {
    content: attr(data-tooltip);
    @apply invisible absolute z-50 flex w-[100px] -translate-x-6 -translate-y-12 items-center justify-center rounded-xl bg-gray-700 p-2 text-xs text-white opacity-0 transition-opacity duration-300 hover:visible hover:opacity-100;
}
